html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcf3e2;
}

img {
  display: inline-block;
}



h2 {
  font-size: 2.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

.cloud-1,
.cloud-2 {
  position: absolute;
}

.cloud-1 {
  top: 100px;
  right: 30%;
}

.interest-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-img {
  border-radius: 100%;
  width: 300px;
  margin-top: 20px;
}

.laptop-img {
  width: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.chilli-img {
  width: 200px;
  float: right;
  margin-left: 30px;
  margin-bottom: 50px;
}

hr:nth-child(4) {
  margin-top: 160px;
}

.appa-img {
  width: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.bottom {

  height: 100%;
}
